In \[1\]:

    import pandas as pd
    import numpy as np
    import matplotlib.pyplot as plt
    import seaborn as sns
    import warnings
    warnings.simplefilter("ignore")

In \[2\]:

    df = pd.read_csv("iris.csv")
    df.head()

Out\[2\]:

|     | Id  | SepalLengthCm | SepalWidthCm | PetalLengthCm | PetalWidthCm | Species     |
|-----|-----|---------------|--------------|---------------|--------------|-------------|
| 0   | 1   | 5.1           | 3.5          | 1.4           | 0.2          | Iris-setosa |
| 1   | 2   | 4.9           | 3.0          | 1.4           | 0.2          | Iris-setosa |
| 2   | 3   | 4.7           | 3.2          | 1.3           | 0.2          | Iris-setosa |
| 3   | 4   | 4.6           | 3.1          | 1.5           | 0.2          | Iris-setosa |
| 4   | 5   | 5.0           | 3.6          | 1.4           | 0.2          | Iris-setosa |

In \[3\]:

    df.info()

    <class 'pandas.core.frame.DataFrame'>
    RangeIndex: 150 entries, 0 to 149
    Data columns (total 6 columns):
     #   Column         Non-Null Count  Dtype  
    ---  ------         --------------  -----  
     0   Id             150 non-null    int64  
     1   SepalLengthCm  150 non-null    float64
     2   SepalWidthCm   150 non-null    float64
     3   PetalLengthCm  150 non-null    float64
     4   PetalWidthCm   150 non-null    float64
     5   Species        150 non-null    object 
    dtypes: float64(4), int64(1), object(1)
    memory usage: 7.2+ KB

In \[6\]:

    #checking null values
    df.isnull().sum()

Out\[6\]:

    Id               0
    SepalLengthCm    0
    SepalWidthCm     0
    PetalLengthCm    0
    PetalWidthCm     0
    Species          0
    dtype: int64

In \[7\]:

    df.describe()

Out\[7\]:

|       | Id         | SepalLengthCm | SepalWidthCm | PetalLengthCm | PetalWidthCm |
|-------|------------|---------------|--------------|---------------|--------------|
| count | 150.000000 | 150.000000    | 150.000000   | 150.000000    | 150.000000   |
| mean  | 75.500000  | 5.843333      | 3.054000     | 3.758667      | 1.198667     |
| std   | 43.445368  | 0.828066      | 0.433594     | 1.764420      | 0.763161     |
| min   | 1.000000   | 4.300000      | 2.000000     | 1.000000      | 0.100000     |
| 25%   | 38.250000  | 5.100000      | 2.800000     | 1.600000      | 0.300000     |
| 50%   | 75.500000  | 5.800000      | 3.000000     | 4.350000      | 1.300000     |
| 75%   | 112.750000 | 6.400000      | 3.300000     | 5.100000      | 1.800000     |
| max   | 150.000000 | 7.900000      | 4.400000     | 6.900000      | 2.500000     |

In \[9\]:

    #drop unwanted columns
    df =df.drop(columns = "Id")

In \[10\]:

    df

Out\[10\]:

|     | SepalLengthCm | SepalWidthCm | PetalLengthCm | PetalWidthCm | Species        |
|-----|---------------|--------------|---------------|--------------|----------------|
| 0   | 5.1           | 3.5          | 1.4           | 0.2          | Iris-setosa    |
| 1   | 4.9           | 3.0          | 1.4           | 0.2          | Iris-setosa    |
| 2   | 4.7           | 3.2          | 1.3           | 0.2          | Iris-setosa    |
| 3   | 4.6           | 3.1          | 1.5           | 0.2          | Iris-setosa    |
| 4   | 5.0           | 3.6          | 1.4           | 0.2          | Iris-setosa    |
| ... | ...           | ...          | ...           | ...          | ...            |
| 145 | 6.7           | 3.0          | 5.2           | 2.3          | Iris-virginica |
| 146 | 6.3           | 2.5          | 5.0           | 1.9          | Iris-virginica |
| 147 | 6.5           | 3.0          | 5.2           | 2.0          | Iris-virginica |
| 148 | 6.2           | 3.4          | 5.4           | 2.3          | Iris-virginica |
| 149 | 5.9           | 3.0          | 5.1           | 1.8          | Iris-virginica |

150 rows × 5 columns

# Visualizations<a href="#Visualizations" class="anchor-link">¶</a>

In \[12\]:

    df["Species"].value_counts()

Out\[12\]:

    Iris-setosa        50
    Iris-versicolor    50
    Iris-virginica     50
    Name: Species, dtype: int64

In \[13\]:

    sns.countplot(df["Species"])

Out\[13\]:

    <AxesSubplot:xlabel='Species', ylabel='count'>

<img
src="%0A"
class="jp-needs-light-background" />

In \[15\]:

    x = df.iloc[:,:4]
    y = df.iloc[:,4]

In \[17\]:

    x

Out\[17\]:

|     | SepalLengthCm | SepalWidthCm | PetalLengthCm | PetalWidthCm |
|-----|---------------|--------------|---------------|--------------|
| 0   | 5.1           | 3.5          | 1.4           | 0.2          |
| 1   | 4.9           | 3.0          | 1.4           | 0.2          |
| 2   | 4.7           | 3.2          | 1.3           | 0.2          |
| 3   | 4.6           | 3.1          | 1.5           | 0.2          |
| 4   | 5.0           | 3.6          | 1.4           | 0.2          |
| ... | ...           | ...          | ...           | ...          |
| 145 | 6.7           | 3.0          | 5.2           | 2.3          |
| 146 | 6.3           | 2.5          | 5.0           | 1.9          |
| 147 | 6.5           | 3.0          | 5.2           | 2.0          |
| 148 | 6.2           | 3.4          | 5.4           | 2.3          |
| 149 | 5.9           | 3.0          | 5.1           | 1.8          |

150 rows × 4 columns

In \[18\]:

    y

Out\[18\]:

    0         Iris-setosa
    1         Iris-setosa
    2         Iris-setosa
    3         Iris-setosa
    4         Iris-setosa
                ...      
    145    Iris-virginica
    146    Iris-virginica
    147    Iris-virginica
    148    Iris-virginica
    149    Iris-virginica
    Name: Species, Length: 150, dtype: object

# Split the Data into train and test datasets<a href="#Split-the-Data-into-train-and-test-datasets"
class="anchor-link">¶</a>

In \[22\]:

    from sklearn.model_selection import train_test_split

In \[23\]:

    x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)

In \[24\]:

    x_train.shape

Out\[24\]:

    (112, 4)

In \[25\]:

    y_train.shape

Out\[25\]:

    (112,)

In \[26\]:

    x_test.shape

Out\[26\]:

    (38, 4)

In \[27\]:

    y_test

Out\[27\]:

    (38,)

# Create the Model(classification)<a href="#Create-the-Model(classification)" class="anchor-link">¶</a>

In \[31\]:

    from sklearn.linear_model import LogisticRegression

In \[32\]:

    model = LogisticRegression()

In \[33\]:

    model.fit(x_train,y_train)

Out\[33\]:

    LogisticRegression()

In \[38\]:

    y_pred = model.predict(x_test)

In \[39\]:

    y_pred

Out\[39\]:

    array(['Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
           'Iris-virginica', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa',
           'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
           'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
           'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
           'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
           'Iris-virginica', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
           'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
           'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
           'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
           'Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
           'Iris-virginica'], dtype=object)

In \[42\]:

    from sklearn.metrics import accuracy_score,confusion_matrix

In \[44\]:

    confusion_matrix(y_test,y_pred)

Out\[44\]:

    array([[13,  0,  0],
           [ 0, 15,  1],
           [ 0,  0,  9]], dtype=int64)

In \[50\]:

    accuracy = accuracy_score(y_test,y_pred)*100
    print("Accuracy of the model is {:.2f}".format(accuracy))

    Accuracy of the model is 97.37

# Conclusion on classification<a href="#Conclusion-on-classification" class="anchor-link">¶</a>

Flower classification is a very important, simple, and basic project for
any machine learning student. Every machine learning student should be
thorough with the iris flowers dataset. This classification can be done
by many classification algorithms in machine learning but in our
article, we used logistic regression. Overall in this article, we have
seen

-   Mainly we focused on Logistic Regression
-   We took Iris Flowers dataset and performed a logistic regression
    algorithm
-   Finally, it classified flowers into their species.
-   And we got an accuracy of 97.37%, which shows that the model we
    built is very accurate.

In \[ \]: